urllib3==2.0.7
opentelemetry-distro==0.51b0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-instrumentation-urllib==0.51b0
python-dotenv==1.0.1
python-json-logger==3.3.0
openfeature-sdk==0.8.0
openfeature-provider-flagd==0.2.0
openfeature-hooks-opentelemetry==0.2.0
psutil==6.1.1